<div class="template-mouse-pop-up-static">
    <div class="template-mouse-pop-up-closer"></div>
    <div class="template-mouse-pop-up-container">
        <div class="template-title-placeholder"></div>
        <div class="template-operations-container">
            <div class="template-selection-placeholder">
                <div class="f-icon-i template-toggle display-none-important">&#xe9f6;</div>
                <span class="template-text"></span>
            </div>
        </div>
        <div class="template-content-preview-placeholder"></div>
        <img class="template-content-preview-placeholder-image" src="" loading="lazy" width="100%" />
        <div class="button-close" style="display: none;">&#x2715;</div>
    </div>
</div>