<div class="card-refill-suggestion" fw-click="onCardSelected">
    <section class="info-section">
        <div fw-id="left-side" class="left-side">
        </div>
        <div class="right-side">
            <div fw-id="barcode"> </div>
            <div fw-id="description-prodotto" class="description-prodotto"></div>
        </div>
    </section>
    <section class="bottom-section">
        <div class="iterations" fw-id="iterations-container">
            <div class="the-i">
                <div>
                    <span>id posizione</span>
                    <div fw-id="numero-motore"></div>,
                </div>
                <span> prodotti erogati:</span>
                <div fw-id="number-of-sales"></div>
            </div>
        </div>
        <div fw-id="refilled">
            <div class="circle"></div>
        </div>
    </section>
</div>