.custom-dropdown-container {
    .cddown-selected-not-stealth.cddown-selected-not-stealth {
        height: min(8.6vw, 8.6vh, 45px);
    }
}

[fw-id="main"] {
    height: 100%;
}

[fw-id="avsdr-content-viewer"] {
    height: calc(100vh - 8px - 12px - 14vh - 60px - min(min(3.5vw, 3.5vh), 38px));
    overflow: auto;
}