#notifica-showcase1 {
    opacity: 0;
    position: relative;
    font-family: var(--vscode-font-family);
    min-height: 4em;
    min-width: 20em;
    position: fixed;
    background: var(--vscode-editorWidget-background);
    color: var(--vscode-editorWidget-foreground);
    left: 1%;
    bottom: 2%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-left: 5px solid var(--vscode-charts-green);
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    /*box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);*/
    box-shadow: var(--vscode-widget-shadow);
    -webkit-animation: pop-from-below 0.3s ease-out 1;
    -moz-animation: pop-from-below 0.3s ease-out 1;
    -o-animation: pop-from-below 0.3s ease-out 1;
    animation: pop-from-below 0.3s ease-out 1;
    z-index: 9999999999;
    filter: drop-shadow(0 0 14px black);
    transition: opacity ease 0.1s;

    .function-svg {
        margin: 10px;
        background: var(--vscode-charts-green);
        color: var(--vscode-diffEditor-unchangedRegionShadow);
        border-radius: 100%;
        padding: .6em;
        animation: scale .3s ease-in .3s both;
        aspect-ratio: 1;
        min-width: 20px;
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close-svg {
        margin: 0em;
        border-radius: 100%;
        padding: 1.6em;
        cursor: pointer;
        opacity: 0.2;
        /* font-size: 28px; */
    }

    .close-svg:hover {
        background: rgba(255, 255, 255, 0.1);
        transition: all ease-in .3s;
        opacity: 1;
    }

    .title {
        font-weight: bolder;
        text-align: justify;
    }

    .title::first-letter {
        text-transform: uppercase;
    }

    .text {
        text-wrap: pretty;
        width: 17em;
        text-align: justify;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: auto;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .extra-data {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: fit-content;
        opacity: 0.3;
        transition: all ease-in .3s;
        text-transform: capitalize;
        display: ruby;
    }

    .extra-data:empty {
        display: none;
    }

    .notify-pinned-icon {
        position: absolute;
        bottom: .3em;
        right: .3em;
        font-size: 14px;
        opacity: 0.5;
        pointer-events: none;
    }
}

#notifica-showcase1:hover {
    .extra-data {
        opacity: 0.7;
    }
}

.unpop-from-below {
    -webkit-animation: unpop-from-below 0.3s ease-in 1 forwards !important;
    -moz-animation: unpop-from-below 0.3s ease-in 1 forwards !important;
    -o-animation: unpop-from-below 0.3s ease-in 1 forwards !important;
    animation: unpop-from-below 0.3s ease-in 1 forwards !important;
}

.typ3-3 {
    min-width: unset !important;
    min-height: unset !important;

    .function-svg {
        display: none !important;
    }

    .close-svg {
        display: none;
    }

    .text {
        text-align: center !important;
        width: fit-content !important;
    }

    .title {
        display: none;
    }

    .info-container {
        margin: 5px !important;
    }
}

.typ3-21 {
    min-width: unset !important;
    min-height: unset !important;

    .close-svg {
        display: none;
    }

    .text {
        text-align: center !important;
        width: fit-content !important;
    }

    .title {
        display: none;
    }

    .info-container {
        margin: 5px !important;
    }
}