<!-- otp-code.component.html -->
<div class="otp-container" [formGroup]="form">
    <div>inserisci l'OTP inviato sull'APP</div>
    <div fw-id="container_otps_inputs">
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
        <input type="text" maxlength="1" (keydown)="onKeyDown" (keyup)="onKeyUp" (paste)="onPaste" (beforeinput)="onBeforeInput" />
    </div>
</div>