.insight-whole-page {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 99999999999999999999999999;
    transition: opacity ease 0.1s;

    .insight-text {
        font-family: var(--vscode-font-family);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 4px;
        z-index: 99999;
        white-space: pre;
        background: var(--vscode-editorHoverWidget-background);
        border: 1px solid var(--vscode-editorHoverWidget-border);
        filter: drop-shadow(0 0 .75em #000);
        left: calc(100% + 10px);
        height: fit-content;
        min-height: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;

        &:empty {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 999999;
            transform: translateX(-30px);
            border-radius: 0;
            border-width: 14px;
            border-style: solid;
            border-color: transparent var(--vscode-editorHoverWidget-background) transparent transparent;
            padding: 0;
            background: transparent;
            pointer-events: none;
            display: block !important;
            pointer-events: none;
            -webkit-transition: opacity 0.5s ease-in-out !important;
            -moz-transition: opacity 0.5s ease-in-out !important;
            transition: opacity 0.5s ease-in-out !important;
        }
    }

    >.insight-text.isgt-left {
        right: calc(100% + 10px);
        left: unset;

        &::before {
            border-color: transparent transparent transparent var(--vscode-editorHoverWidget-background);
            transform: unset;
            left: 100%;
        }

    }

    >.insight-text.isgt-right {
        left: calc(100% + 20px);
        right: unset;

        &::before {
            transform: unset;
            right: 100%;
        }
    }

    >.insight-text.isgt-bottom {
        left: -1000px;
        right: -1000px;
        top: calc(100% + 50px);
        width: fit-content;
        min-width: 50px;

        &::before {
            border-color: transparent transparent var(--vscode-editorHoverWidget-background) transparent;
            bottom: calc(100% - 1px);
            left: calc(50% - 12px);
            transform: unset;
        }

    }

    >.insight-text.isgt-top {
        left: -1000px;
        right: -1000px;
        width: fit-content;
        bottom: calc(100% + 13px);
        min-width: 50px;
        top: unset;

        &::before {
            border-color: var(--vscode-editorHoverWidget-background) transparent transparent transparent;
            top: calc(100% - 1px);
            left: calc(50% - 12px);
            transform: unset;
        }

    }

    .insight-closer {
        align-items: center;
        appearance: none;
        background-color: var(--vscode-editorWidget-background);
        border-radius: 4px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--vscode-widget-border) 0 -3px 0 inset;
        box-sizing: border-box;
        color: var(--vscode-editor-foreground);
        cursor: pointer;
        display: inline-flex;
        font-family: var(--vscode-font-family);
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s, transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
        margin: 5px;

        &:focus {
            box-shadow: var(--vscode-widget-border) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--vscode-widget-border) 0 -3px 0 inset;
        }

        &:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--vscode-widget-border) 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: var(--vscode-widget-border) 0 3px 7px inset;
            transform: translateY(2px);
        }
    }
}