<table class="mftml-table">
    <thead fw-id="thead">
        <tr fw-id="headerRowToolbox" class="container-table-toolbox">
            <!-- tables "doesn't allow" div inside tr -->
            <!-- #createTableToolbar 
                <div class="table-toolbox">
                    <div class="table-toolbox-title-talbe" data-suffix="(demo)">
                        Sales Table
                    </div>

                    div :: #createSearchBox 
                        <div class="mftml-searchbox mit-scope">
                            <input type="text" placeholder="Search...">
                            <img src="search.png" alt="search" width="16">
                        </div>
                    
                </div>            
            -->
        </tr>
        <tr fw-id="header-row">
            <!-- th :: #makeHeader -->
        </tr>
    </thead>

    <tbody fw-id="tbody">
        <!-- :: updateViewingData
        <td style="display: flex; justify-content: center;"><img src="VirtualCovers/T0001300.png"
                style="max-height: 30px;">
        </td>
        <td>TEREA CLOUD FUSE</td>
        <td class="mftml-number-value" style="position: relative;">80805953<div
                style="position: absolute; inset: 2px 0px; overflow: hidden; width: -webkit-fill-available; height: -webkit-fill-available;">
                <img src="data:image/png;base64,..." class="inline-ean-code" draggable="false">
            </div>
        </td>
        <td class="mftml-number-value">28</td>
        <td style="text-align: right;" class="mftml-number-value">73</td>
        <td style="text-align: center; user-select: none; cursor: pointer;"><img src="data:image/svg+xml;base64,..."
                style="height: 15px; width: 15px;">
        </td>
        -->
    </tbody>

    <tfoot>
        <tr fw-id="tfoottr">
            <!--  div :: #createTableFooter 
                        :: #createPaginator
            <td>
                <span>
                    <div class="mftml-footer">
                        <div class="mftml-footer-toolbox">
                            Footer tools here
                        </div>
                        <div class="page-selector">
                            <button>&lt;</button>
                            <span style="padding: 0 10px;">1</span>
                            <button>&gt;</button>
                        </div>
                        <div class="table-toolbox-record-counter"></div>
                    </div>
                </span>
            </td> 
            -->
        </tr>
    </tfoot>
</table>