.avi-main {
    display: flex;
    flex-direction: column;
}

[fw-id="avi-main-routes"] {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-top: 5px;

    >.ez-button {
        min-height: 30px;
    }
}

[fw-id="avi-main"] {
    height: 100%;
}